# Core Dependencies
asyncpg
# websockets
playwright
transformers
torch
uvicorn
fastapi

# NLP & Text Processing
nltk
spacy
collections-extended
sentencepiece
tiktoken
protobuf

# Testing
pytest
pytest-asyncio

#firebase
firebase-admin
websockets>=12.0